body{background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

    font-size: 18px;
    
    
}

.light{color: #808080;
    margin-left: 40px;

}

/* #intro{
    border: 2px white solid;

}
#about{
    border: 2px white solid;
} */

.greytext{
    color:  #cfcfcf;
}

.date {
    color: #808080;
    width: 40vw;
}

main{
    margin: auto;
    width: 65vh;
}
#about{
    margin-bottom: 65px;
}


#intro {
    /* background-color: #9f9f87; */
    display: flex;
    width: auto;
    height: auto;
    
}

#backdrop {
    /* background-color: rgb(46, 87, 87); */

}

#backdrop2 {
    /* background-color: aquamarine; */
    margin-left: 30px;
    margin-top: 3%;
    font-size: 20px;
    width: 400px;
}

header{
    margin-bottom: 5vh;
}

#tryingflex{
    display: flex;

}
.date{
    /* background-color: aqua; */
    height: 300px;
    width: 100px;
    margin-right: 6px;
    margin-top: 25px;
}

#bold{
    margin-left: 40px;
}

#flexforprojects{
    display: flex;
    height: 270px;
    padding-bottom: 5%;

}

#projectside{
    height: fit-content;
    padding-top: 3%;
    margin-left: 
    
}

#Positioning{
    margin-left: 40px;
}

#linkssec{
    display: flex;
    height: fit-content;
}

#links1{
    color: #808080;
}

#links2{
    font-weight: bolder;
    font-size: large;
}

#flex02{
    height: 400ox;
}

.bolder{
    font-weight: bolder;
}